{% extends "base_tags.html" %}

{% block title %}{{ block.super }} | Tags{% endblock %}

{% block content %}
{% load tagging_tags %}
{% tagged_objects tag in snakelog.entry as entry_list %}
{% for entry in entry_list %}
	<!-- Start blob -->
	<div class="content">
		<h2>{{ entry.title }}</h2>
		<p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
		{% if entry.excerpt_html %}
			{{ entry.excerpt_html|safe }}
		{% else %}
			{{ entry.body_html|truncatewords_html:"50"|safe }}
		{% endif %}
		<p class="right"><a href="{{ entry.get_absolute_url }}">Read full entry...</a></p>
		{% load comments %}
		{% get_comment_count for snakelog.entry entry.id as comment_count %}
		<p class="italic">So far, there are {{ comment_count }} comment{{ comment_count|pluralize }} on this entry.</p>
	</div>
	<!-- End blob -->
{% endfor %}
{% endblock %}

{% block whatis %}
<p>This is a list of all entries for the tag <strong>{{ tag }}</strong>.</p>
{% endblock %}

