{% extends "base_links.html" %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.description_html|safe }}</p>
<p><a href="{{ object.url }}">Visit site</a></p>
{% endblock %}

{% block whatis %}
<p> This is a link posted on 
	{{ object.pub_date|date:"F j, Y" }}.</p>
{% if object.tags %}
	<p>Tag{{ object.tags.count|pluralize:"s" }}: 
	{% for tag in object.tags %} 
		<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
		{% if forloop.last %}
				{% comment %}Does nothing for the last time through the loop {% endcomment %}
			{% else %}
			{% ifequal forloop.revcounter0 1 %} 
				 and
			{% else %}
				, 
			{% endifequal %}
		{% endif %}
	{% endfor %}
{% else %}
	<p>This link does not have no tags.</p>
{% endif %}
{% endblock %}