<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
	<link type="text/css" href="{% load cms_tags %}{% snake_cms_media_url %}/css/perfect3col.css" rel="stylesheet" media="screen" /> 
	<link rel="shortcut icon" href="{% snake_cms_media_url %}/images/rar.ico" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>snake-cms {% block title %}{% endblock %}</title>
</head>
<body>

<div id="header">
	<p>Easy, fast and functional</p>
	<h1>snake-cms</h1>
	<h2><a href="http://code.google.com/p/snake-cms/">http://code.google.com/p/snake-cms/</a></h2>

	<ul>
		<li><a href="{% load cms_tags %}{% snake_cms_url %}">Latest entries</a></li>
		<li><a href="{% url snakelog_category_list %}a_category/">A category</a></li>
		<li><a>Tab 3</a></li>
	</ul>
	<p id="layoutdims"><a href="{% snake_cms_url %}/admin/">Admin</a></p>

</div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
					{% block content %}
					{% endblock %}
					&#171;-- <a href="javascript:history.back()">back</a></p>
				<!-- Column 1 end -->
			</div>
			<div class="col2">		
				<!-- Column 2 start -->
					<h2 id="main-nav-head">snake-cms</h2>
						<ul id="main-nav">
							<li id="main-nav-entries">
								<a href="{% url snakelog_entry_archive_index %}">Entries</a>
								<ul id="sec-nav">
									<li><a href="{% url snakelog_entry_archive_year 2009 %}">2009</a></li>
								</ul>
							</li>
							<li id="main-nav-categories">
								<a href="{% url snakelog_category_list %}">Categories</a>
							</li>
							<li id="main-nav-tags">
								<a href="{% url snakelog_tag_list %}">Tags</a>
							</li>
							<li id="main-nav-links">
								<a href="{% url snakelog_link_archive_index %}">Links</a>
							</li>
						</ul>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				<h2 id="whatis-head">What is this?</h2>
					{% block whatis %}
					{% endblock %}
					{% load snakelog_tags %}
				<h2>Latest entries</h2>
					<ul id="latest_entries">
						{% get_latest_content snakelog.entry 5 as latest_entries %}
						{% for entry in latest_entries %}
						<li>
							<a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>,
							posted {{ entry.pub_date|timesince }} ago.
						</li>
						{% endfor %}
					</ul>
				<div id="license">
					<p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">Perfect 'Holy Grail' 3 Column Liquid Layout</a>.</p>
					<p>
						<!-- Creative Commons License -->
						<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img src="http://www.intensivstation.ch/files/images/buttons/cc.gif" alt="Creative Commons License" width="80" height="15" border="0"/></a><br />
						This work is licensed under a <br />
						<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>.
					</p>
				</div>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
	</p>Visit the home of <a href="http://www.snakedesert.se">snake-cms</a>.</p>
</div>
</body>
</html>
